main {
    section {
        div {
            margin: 3rem;
            .abrir {
                font-size: 15px;
                background-color: chocolate;
                border-radius: 10px;
                padding: .50rem;
            }
            .descargar {
            }
            .compartir {
            }
        }
    }
}